header {
  height: 4em;
  background-color: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  cursor: pointer;
  /* width: 100vw; */
  /* position: fixed;
  right: 0;
  left: 0;
  bottom: ;
  z-index: 2; */
}

.logo,
.profile,
.navbar {
  display: flex;
  align-items: center;
  gap: 3px;
}

.navbar span:hover {
  color: var(--text-hover);
  transition: var(--transition);
}

.profile {
  gap: 6px;
}

.navbar {
  gap: 1em;
}

.moon-icon {
  margin-right: 5px;
  border-right: 1px solid var(--color);
  padding-right: 5px;
}

.profile img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-left: 1px solid var(--color);
}

@media (max-width: 600px) {
  .navbar,
  .profile {
    display: none;
  }

  header {
    width: 100%;
  }
}
