.search {
  height: 5em;
  /* border-top: 0.5px solid var(--border); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--button-color); */
  width: 80%;
  margin: 0 auto;
}

.search-form {
  display: flex;
  gap: 0.5em;
}

input {
  height: 3.5em;
  width: 20em;
  border: 1px solid var(--color);
  padding-left: 1em;
}

input:hover {
  background-color: var(--button-bg-color2);
  opacity: 0.5;
}

input:focus {
  outline: 1px solid var(--text-hover) !important;
  background-color: var(--button-bg-color2);
}

.search-form * {
  border-radius: 5px;
}

@media (max-width: 600px) {
  /* .search-form {
    flex-direction: column;
  } */

  .btn {
    height: 2.5em;
  }

  input {
    width: 10em;
  }
}

@media (max-width: 1024px) {
  .location-input {
    display: none;
  }

  input {
    width: 10em;
  }
}
