.search {
  height: 8em;
  border-top: 0.5px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--button-color); */
}

.search-form {
  display: flex;
  gap: 0.5em;
}

input {
  height: 2.5em;
  width: 20em;
  border: 1px solid var(--color);
  padding-left: 1em;
}

.search-form * {
  border-radius: 5px;
}

@media (max-width: 600px) {
    .search-form {
        flex-direction: column;
    }

    .btn {
        height: 2.5em;
    }
}

