.sidebar {
  background-color: var(--secondary-background2);
  padding: 1em;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.sidebar-title {
  font-weight: 700;
  margin-bottom: 1em;
}

.full-time-checkbox {
  display: flex;
  margin-top: 1em;
  margin-bottom: 3em;
  flex-direction: column;
}

#demo-radio-buttons-group-label {
  color: var(--color);
  font-weight: 700;
  text-decoration: underline;
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .sidebar {
    width: fit-content;
  }
}

@media (max-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 3em;
  }

  .location-input {
    display: none;
  }

  .full-time {
    align-items: flex-start;
  }

  .find-locationBtn {
    margin-left: -50px;
    height: 20px;
    width: 50px;
  }

  .full-time-checkbox {
    margin-top: 0;
  }
}
