@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --background: #f8f8fb;
  --secondary-background: #f1faee;
  --secondary-background2: #fff;
  --color: #1d3557;
  --text-hover: #e63946;
  --border: #a8dadc;
  --button-color: #fffcf2;
  --button-bg-color: #e63946;
  --button-bg-color2: #a8dadc;
  --border-secondary: #457b9d;
  --transition: all 0.5ms ease 0.2ms;
  --borderRadius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid black; */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--color);
  font-family: "Lato", sans-serif;
  letter-spacing: 0.8px;
}

.btn {
  background-color: var(--text-hover);
  color: var(--button-color);
  outline: none;
  border: none;
  width: 7em;
  font-weight: 700;
  font-size: 11px;
  cursor: pointer;
}

.btn:hover {
  background-color: #bc4749;
}
